.inputBox {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 30px auto;
  width: 80%;
}
.input {
  width: 50%;
  border-radius: 40px;
  height: 50px;
  padding: 20px;
  border: none;
  box-shadow: 5px 10px 20px -10px;
  font-size: 20px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.input:focus {
  outline: none;
}
.icon {
  position: absolute;
  top: 12px;
  font-size: 26px;
  right: 320px;
  cursor: pointer;
}

.country {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
  width: 80%;
  margin: 20px auto;
}
.card {
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
}
.cardList {
  list-style: none;
}
.cardImg {
  width: 260px;
  height: 140px;
  border-radius: 6px;
}
.cardName {
  width: 200px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cardMenu {
  font-weight: bolder;
}
